NODE_ENV=production
PORT=8080

NEXTAUTH_SECRET=change-me
NEXTAUTH_URL=http://localhost:8080
NEXT_PUBLIC_SITE_URL=http://localhost:8080
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
